// colors

$black: #000000;
$white: #ffffff;
$brand-color: #E1CACB;


//Font



$font-primary:'Quicksand', sans-serif;

$font-secondary:'Open Sans Condensed', sans-serif;

$font-heading:'Libre Baskerville', serif;

$roboto-mono: 'Roboto Mono', monospace;


//Font weight

$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

