@charset "UTF-8";

.page-wrap {
  width: 100%;
  height: 100vh;
}

.page-wrap .top-half-page {
  background-color: #E1CACB;
  height: 50vh;
}

.page-wrap .top-half-page .coffee {
  display: block;
  margin: auto;
  height: 100px;
  width: 100px;
}

.page-wrap .top-half-page-inner {
  max-width: 1600px;
  margin: auto;
}

.page-wrap .search-bar {
  max-width: 500px;
  margin: auto;
}

.page-wrap .search-input {
  background-color: #E1CACB;
  padding: 15px;
  border: none;
  position: relative;
  font-size: 16px;
  text-align: center;
}

@media (min-width: 0px) and (max-width: 750px) {
  .page-wrap .search-input {
    width: 90%;
  }
}

.page-wrap .search-input::-webkit-input-placeholder {
  font-family: "Quicksand", sans-serif;
  color: #000000;
  opacity: 1;
}

.page-wrap .search-input::-moz-placeholder {
  font-family: "Quicksand", sans-serif;
  color: #000000;
  opacity: 1;
}

.page-wrap .search-input:-ms-input-placeholder {
  font-family: "Quicksand", sans-serif;
  color: #000000;
  opacity: 1;
}

.page-wrap .search-input::-ms-input-placeholder {
  font-family: "Quicksand", sans-serif;
  color: #000000;
  opacity: 1;
}

.page-wrap .search-input::placeholder {
  font-family: "Quicksand", sans-serif;
  color: #000000;
  opacity: 1;
}

.page-wrap a {
  color: #000000;
}

.page-wrap .search-icon {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.page-wrap .bottom-half-page {
  background-color: #ffffff;
  height: 50vh;
}

.page-wrap .bottom-half-page h2 {
  font-family: "Roboto Mono", monospace;
}

.page-wrap .near-me-items {
  margin: auto;
  max-width: 1600px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-wrap .near-me-items .item {
  box-sizing: border-box;
  min-height: 200px;
  height: auto;
  width: 33.333%;
  padding: 10px;
}

@media (min-width: 751px) and (max-width: 1200px) {
  .page-wrap .near-me-items .item {
    width: 50%;
  }
}

@media (min-width: 0px) and (max-width: 750px) {
  .page-wrap .near-me-items .item {
    width: 100%;
  }
}

.page-wrap .near-me-items .item .item-inner {
  background-color: #E1CACB;
  height: 100%;
  color: #ffffff;
}

.page-wrap .near-me-items .item h3 {
  font-family: "Roboto Mono", monospace;
}

.page-wrap .near-me-items .item .overlay {
  height: 100%;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-wrap .near-me-items .item .rating::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F0F4";
  padding-left: 10px;
  color: white;
}

.page-wrap .near-me-items .item .top-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page-wrap .near-me-items .item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-bottom: 50px;
}

.nav a {
  display: block;
  text-decoration: none;
}

.nav a:hover {
  color: #8e5153;
}

.nav .instagram {
  font-size: 25px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset margins and paddings on most elements */

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

/* Removes discs from ul */

ul {
  list-style: none;
}

input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

input,
textarea,
button {
  border: 1px solid gray;
}

button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
}

body {
  font-family: "Quicksand", sans-serif;
}

.u-text-white {
  color: #ffffff;
}

.u-text-black {
  color: #000000;
}

.u-text-brand {
  color: #E1CACB;
}

.u-text-darker {
  color: #8e5153;
}

.s-heading-1 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
}

.u-align-center {
  text-align: center;
}

.u-align-left {
  text-align: left;
}

.u-align-right {
  text-align: right;
}

.u-m-auto {
  margin: auto;
}

.u-mt-0 {
  margin-top: 0px;
}

.u-pt-50 {
  padding-top: 50px;
}

.u-pt-20 {
  padding-top: 20px;
}

.u-pb-5 {
  padding-bottom: 5px;
}

.u-pb-10 {
  padding-bottom: 10px;
}

.u-pb-20 {
  padding-bottom: 20px;
}

.u-block {
  display: block;
}

.u-inline {
  display: inline;
}

.u-inline-block {
  display: inline-block;
}

.u-pos-relative {
  position: relative;
}

.u-pos-absolute {
  position: absolute;
}

